@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --color-dark: #050817;
  --color-card: #0f121f;
  --color-secondary: #8593a0;
  --custom-gradient: 180deg, rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 100%;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  background-image: url("./assets/images/background.jpg");
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
  background-color: #050817;
}
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.Toastify__toast-theme--dark {
  background-color: #111e24;
  border: transparent;
  color: white !important;
  border-radius: 12px !important;
  font-family: "Outfit", sans-serif !important;
}
